SECRET_KEY=''

# Optional, but you probably want this for logging and debugging.
PYTHONUNBUFFERED='true'

# Set to "true" to turn on Django DEBUG mode.
# DEBUG='true'

# Set DATABASE_URL to use something other than the default SQLite.
# DATABASE_URL=postgres:///myurl

# Set app base URL. If unset, defaults to http://127.0.0.1:5000 local,
# and herokuapp.com URL on Heroku.
# APP_BASE_URL='http://127.0.0.1:5000'

OPENHUMANS_CLIENT_ID=''
OPENHUMANS_CLIENT_SECRET=''
GOOGLEFIT_CLIENT_ID=''
GOOGLEFIT_CLIENT_SECRET=''

# only for local, to allow oauth2 without https :)
OAUTHLIB_INSECURE_TRANSPORT='1'