[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
celery = "*"
django = "~=2.2"
django-heroku = "*"
gunicorn = "*"
"psycopg2" = "*"
requests = "*"
python-social-auth = "*"
raven = "*"
vcrpy = "*"
pyyaml = "~=5.4"
redis = "*"
iptools = "*"
pyjq = "*"
open-humans-api = ">=0.2.6"
django-open-humans = ">=0.1.5"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
rsa = "~=4.7"
pygments = "~=2.7"
httplib = "~=0.19"

[dev-packages]
pylint = "*"
"flake8" = "*"
ipdb = "*"
pytest = "*"
doubles = "*"

[requires]
python_version = "3.6"
