<p>
    <a href="https://www.google.com/fit/">Google Fit</a> is an app for Android
    devices that tracks activity, steps, and other data.
    This website can be used to retrieve and store Google Fit data in
    your Open Humans account in an ongoing manner. Once you add this data to
    Open Humans, you can choose to share or explore it!
</p>

<p>
    Check out <a href="https://www.openhumans.org/activity/google-fit/">this
    project's activity page</a> to see how notebooks, projects, and members
    are using & sharing this data.
    (Once connected, you can also find your data on this page!)
</p>

<p>
    This site is managed by
    <a href="https://www.openhumans.org">Open Humans</a> and follows the same
    <a href="https://www.openhumans.org/terms">terms of use</a>.
    Data stored in Open Humans is private by default: it's your personal archive
    and always available to you, and you choose when to share with others.
</p>