{% load static %}
<!doctype html>

<html lang="en" id="oh-proj-template">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta charset="utf-8">
    <meta name="description" content="Access your Google Fit data with this web app, and archive it in your Open Humans account.">
    <meta name="author" content="Open Humans Foundation">
    <link rel="icon" href="https://static.openhumans.org/images/open_humans_favicon.png">

    <title>{% block title %}Google Fit Connection{% endblock title %}</title>

    <!-- Bootstrap core CSS, via CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <!-- Open Humans styles -->
    <link rel="stylesheet" type="text/css" href="https://static.openhumans.org/css/oh-fonts.css">
    <link rel="stylesheet" type="text/css" href="https://static.openhumans.org/css/oh-proj-theming.css">

  </head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-open-humans fixed-top container">
        <a class="navbar-brand" href="/">
          <img src="https://static.openhumans.org/images/open-humans-logo-only.png" style="height:32px;padding:5px;">
          Google Fit Connection</a>
        <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon custom-toggler"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav mr-auto">
          </ul>
          <ul class='navbar-nav ml-auto'>
            {% if request.user.is_authenticated %}
              {% if request.user.openhumansmember.googlefit_member %}
              <li class="nav-item">
                  <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
              </li>
              {% endif %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'setup' %}">Setup</a>
              </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{% url 'about' %}">About/FAQ</a>
            </li>
            {% if not request.user.is_authenticated %}
            <a href="{{ oh_auth_url }}" class="btn btn-primary">
              Log in
            </a>
            {% else %}
            <form class="form-inline mt-2 mt-md-0" action="{% url 'logout' %}" method="post">
              {% csrf_token %}
              <button class="btn btn-info" type="submit">Log out</button>
            </form>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
      {% if messages %}
        <div class="row">
          {% for message in messages %}
          <div{% if message.tags %} class="message {{ message.tags }}"{% endif %}>
            {{ message }}</div>
          {% endfor %}
        </div>
      {% endif %}
      {% block main %}
      <h1 class="mt-5">Heading</h1>
      <p class="lead">Some example lead test.</p>
      {% endblock main %}
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'vendor/js/jquery-3.3.1.min.js' %}"></script>
    <script src="https://unpkg.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
  </body>
</html>