{% extends 'main/base.html' %}
{% load static %}

{% block main %}
<div class="row">
    <div class="col-md-9 col-lg-10">
      <h1 class="mb-3">Dashboard: Google Fit</h1>
      <p>
          Congrats! You've connected Google Fit.
          Your data will be stored in files within your Open Humans account.
          Files are listed below, and can also be seen in on
          <a href="https://www.openhumans.org/activity/google-fit/">this
          project's activity page</a> in the Open Humans website.
      </p>
      <p>
          Automatic updates are done every few days, your data was last
          updated: {{ timedelta_since_update }}
      </p>
      {% if allow_update %}
      <div>
        If you'd like to fetch newer data, you can trigger an update:
        <form action="{% url 'update_data' %}" method="post" class="form-inline" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary btn-sm">Update data</button>
        </form>
      </div>
    {% endif %}
    </div>
    <div class="col d-none d-md-block" style="text-align: center;">
        <img class="oh-cnxn-icon" src="{% static 'img/google-fit-icon.png' %}">
    </div>
</div>
<hr>

<h2>Your data</h2>

{% if data_files %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    {% for data_file in data_files %}
    <tr>
      <td>
        {{ data_file.basename }}
      </td>
      <td>
        <a class="btn btn-primary btn-sm" href="{{ data_file.download_url }}" download>Download</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>
  No files are yet available. (Have you installed the
  <a href="https://www.google.com/fit/">Google Fit</a> Android app?)
</p>
{% endif %}

{% endblock main %}
