{% extends 'main/base.html' %}
{% load static %}
{% block content %}

    <div class="container">
      <h1>One last step  - get your GoogleFit data!</h1>
      <p class="lead">
        Thank you! We have your authorization from Open Humans.
      </p>
      <p>
        Now you have to go to googlefit to authorize us to fetch your data from GoogleFit.
      </p>
      <a
      class="btn btn-primary btn-lg"
      href={{auth_url}}
      class="btn btn-default disabled">
        Start with GoogleFit authorization
      </a>

    </div>

{% endblock %}