{% extends 'main/base.html' %}
{% load static %}

{% block main %}

<div class="jumbotron">
  <div class="container-fluid">
    <div class="row">
      <div class="col" style="text-align: center;">
        <img class="img-fluid oh-cnxn-icon" src="{% static 'img/google-fit-icon.png' %}">
      </div>
      <div class="col-md-9 col-lg-10">
        <h1>Open&nbsp;Humans&nbsp;/ Google&nbsp;Fit Connection</h1>
        <p>
          Google Fit is an Android app that collects data about steps, activity, and more.
          You can use this website to retrieve and store Google Fit data in your Open Humans
          account.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9 offset-md-3 col-lg-10 offset-lg-2">

        <a href="{{ oh_auth_url }}" class="btn btn-primary">
          Log in via Open Humans
        </a>

      </div>
    </div>
  </div>
</div>

{% include 'main/partials/about-1.html' %}

{% endblock main %}