{% extends 'main/base.html' %}
{% load static %}

{% block main %}
<div class="row">
  <div class="col-md-9 col-lg-10">
      <h1 class="mb-3">Set Up: Google Fit</h1>
      <p>
      {% if gf_auth_url %}
      Welcome! To finish set up, you need to sign in with Google and authorize
      us to access and transfer data from <a href="https://www.google.com/fit/">Google Fit</a>.
      {% else %}
      You've authorized
      <a href="https://www.google.com/fit/">Google Fit</a>.
      If you want to remove this, use the button below.
      {% endif %}
      </p>
  </div>
  <div class="col d-none d-md-block" style="text-align: center;">
    <img class="oh-cnxn-icon" src="{% static 'img/google-fit-icon.png' %}">
  </div>
</div>
<hr>
{% if gf_auth_url %}
<a href="{{ gf_auth_url }}">
  <img width='191' src="{% static 'img/btn_google_signin_dark_normal_web@2x.png'%}"/>
</a>
{% else %}
<form action="{% url 'remove_googlefit' %}" method="post">
  {% csrf_token %}
  <input type="submit"
    value="Disconnect Google Fit"
    style="margin-top:6px;"
    class="btn btn-danger btn-lg">
</form>
{% endif %}
{% endblock main %}
